<html>
<head>
	<link rel="stylesheet" href="estilo/css/bootstrap.css"/>
	<link rel="stylesheet" href="estilo/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="estilo/css/bootstrap-theme.css"/>
	<link rel="stylesheet" href="estilo/css/bootstrap-theme.min.css"/>
</head>
<body>
	<div class="container">
		<h3 class = "list-group-item active">Menu</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="/aluno">	
							<span class="glyphicon glyphicon-user"/>
							Alunos
						</a>
					</li>
					<li>
						<a href="/matricula">
							<span class="glyphicon glyphicon-plus"/>
							Matricular Aluno
						</a>
					</li>
					<li>
						<a href="/disciplina">
							<span class="glyphicon glyphicon-duplicate"/>
							Disciplinas
						</a>
					</li>
					<li>
						<a href="/avaliacao">
							<span class="glyphicon glyphicon-list"/>
							Avaliações
						</a>
					</li>
					<li>
						<a href="/pontoslist">
							<span class="glyphicon glyphicon-education"/>
							Avaliar Alunos
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>